<!-- Formulario de Login para administrador -->
<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/login.png" alt="img login">
        <h3>Registrar Usuario</h3>
        <div class="form-floating mb-3 mt-3">
            <input type="text" [(ngModel)]="username" class="form-control" placeholder="Ingrese usuario">
            <label>Usuario</label>
        </div>
    <!-- Boton de seleccion -->
    <div class="form-floating mb-3 mt-3">
        <input type="text" [(ngModel)]="name" class="form-control" placeholder="Ingrese nombre">
        <label>Nombre</label>
    </div>
    <div class="form-floating mb-3 mt-3">
        <input type="text" [(ngModel)]="lastname" class="form-control" placeholder="Ingrese apellido">
        <label>Apellido</label>
    </div>
        <div class="form-floating mb-3 mt-3">
        
            <select [(ngModel)]="role" class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option selected>Seleccione Rol</option>
                <option value="user">User</option>
                <option value="Tecnico">Tecnico</option>
            </select>
        </div>
        
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Ingrese password">
            <label>Password</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" [(ngModel)]="confirmPassword" class="form-control" placeholder="Ingrese password de nuevo">
            <label>Repetir Password</label>
        </div>
        <div class="d-grid gap-2 mb-3">
            <button type="button" (click)="addUser()" class="btn btn-primary btn-lg">Aceptar</button>
        </div>
        <a routerLink="/dashboard-admin">Volver</a>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
    <button (click)="openPopup()">Abrir Ventana Emergente</button>
    <div id="popup" class="popup" [ngClass]="{'show': showPopup}">
      <!-- Contenido de la ventana emergente -->
      <span class="close-btn" (click)="closePopup()">&times;</span>
      <h2>Usuarios</h2>

      <table>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Email</th>
          <th>Acciones</th>
        </tr>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button (click)="updateUser(user.id, user)">Editar</button>
            <button (click)="deleteUser(user.id)">Eliminar</button>
          </td>
        </tr>
      </table>
      
      <h3>Actualizar Usuario</h3>
      
      <form (submit)="addUser()">
        

        <!-- <input type="text" [(ngModel)]="addUser.name" placeholder="Nombre">
        <input type="email" [(ngModel)]="addUser.email" placeholder="Email"> -->
        <button type="submit">Actualizar</button>
      </form>
       </div>
   
    
  