.title {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
/* Estilo para tickets pendientes */
.PENDIENTE {
  background-color: rgb(223, 223, 210); /* Cambia el color de fondo a amarillo para los pendientes */
}

/* Estilo para tickets realizados */
.REALIZADO {
  background-color: rgb(85, 176, 85); /* Cambia el color de fondo a verde para los realizados */
}
table {
  border-collapse: separate;
  border-spacing: 2px;
}

th, td {
  border: 1px solid #dddddd;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}