<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>consulta de tickets</title>
  </head>

  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
  <body>
    <header>
      <div class="container_header">
        <div class="logo">
          <img src="img/imagen7.jpg" alt="logo2">
          <style>
            table,th,td{
                border: 2px solid rgb(255, 253, 253);
                border-collapse: collapse;
                position: center;
            }
          </style>
      
        </div>
   
    
    <form class="" action="index.html" method="post">
      
      <h4>Elije el ticket a consultar</h4 >

      <label for="tipo"></label><br>
      

        <meta charset="utf-8"/>
        <meta  http-equiv="x-ua-compatible" content="IE=edge"/>
        <meta  name="viewpoint" content="width=device-width, initial-scale=1.0"/>
        <title >document</title>
     
      <body>
        <div class="table">

        
        <table class="table">
          <thead>
            <tr>
             
              <th scope="col">id</th>
              <th scope="col">Tecnico </th>
              <th scope="col">Titulo </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">8</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">9</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">10</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">11</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
            <tr>
              <th scope="row">12</th>
              <td></td>
              <td></td>
              <td><label for=""></label><br>
                <select name="" id="">
                    <option value="">--Selecione--</option>
                    <option value="incidencia">terminiado</option>
                    <option value="requerimiento">rechazado</option>
                </select></td>
            </tr>
          </tbody>
        </table>
      </div>
      </body>
      <br>
      <br>
    


      <form class="" action="index.html" method="post">
        <input type="submit" name="rsalir" value="salir" id="boton">      
    


        
        <form class="" action="index.html" method="post">
          <input type="submit" name="rsalir" value="guardar" id="boton">      
        </form>
  