<p>dashboard-admin works!</p>
<p>consulta works!</p>

<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
    <meta charset="utf-8">
    <title>consulta de tickets</title>
    </head>
    <!-- <link rel="stylesheet" href="css/estilo4.css">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet"> -->

    <body>
    <header>
        <div class="container_header">
            <div class="logo">
                <img src="../../../assets/img/imagen7.jpg" alt="logo2">
                <style>
                    table,
                    th,
                    td {
                        border: 2px solid rgb(255, 253, 253);
                        border-collapse: collapse;
                        position: center;
                    }
                </style>

            </div>
            <!-- </header>  -->

            <!-- <form class="" action="index.html" method="post"> -->
            <h2>Tickets disponibles</h2>
            <h4>Elije el ticket a consultar</h4>

            <label for="tipo"></label><br>


            <meta charset="utf-8" />
            <meta http-equiv="x-ua-compatible" content="IE=edge" />
            <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
            <title>document</title>
            <!-- </head> -->

            <!-- <body> -->
                <div class="table">

                    <div>
                        <button routerLink="/signIn">Registrar Nuevo Usuario</button>
                    </div>

                    <div>
                        <button routerLink="/crearticket">Crear Ticket</button>
                    </div>

                    <button onclick="openModal()">tickets disponibles</button>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">id</th>
                                <th scope="col">Usuario</th>
                                <th scope="col">Tecnico </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            <tr>
                            
                            <th scope="row">7</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            
             <br>
             <br>



             <form class="" action="index.html" method="post">
                <input type="submit" name="rsalir" value="salir" id="boton">

                <style>

                </style>

                <form class="" action="consulta.html" method="post">
                    <input type="submit" name="salir" value="consultar" id="boton">


        

              

            <!-- </body>


</html> -->