
<body>
    <app-sidebar></app-sidebar>
    <app-navbar></app-navbar> 
    <div class="fila">
            <div class="logo">
                <form action="index.html">
                    <h2> Consulta <br>
                    <img src="../../../assets/img/lupa.png" id="logodiv"> </h2>
                    <button type="button" routerLink="/consultar-ticket" id="boton">Consultar Tickets </button>
                </form>
            </div>
            <div class="logo">
                <form action="index.html">
                        <h2> Usuarios <br>
                            <img src="../../../assets/img/registro2.png"> 
                        </h2>
                        <button type="button" routerLink="/signIn" id="boton">Registrar Nuevo Usuario</button>
                </form>
            </div>
            <div class="logo">
                <form action="index.html">
                    <h2>Tickets <br>
                    <img src="../../../assets/img/asignar.png"> </h2>
                    <button routerLink="/crearticket" type="button" id="boton" >Registrar Ticket</button> 
                </form>
            </div>
            <div class="logo">
                <form action="index.html">
                    <h2>Reportes <br>
                    <img src="../../../assets/img/lupa2.png" > </h2>
                    <!-- <button routerLink="/crearticket" type="button" id="boton" >Asignar Ticket</button> -->
                    <button id="boton" (click)="generateTextReport()">
                        Generar Reporte TXT
                      </button>
                      
                </form>
            </div>
            <button routerLink="/login-admin" type="button" id="botonSalir" style="background-color: blue;"> SALIR </button>
       
 
    </div>
    <div id="popup" class="popup" #popup>
        <!-- Contenido de la ventana emergente -->
    </div>

</body>
 
 <!-- <button (click)="openPopup()">Abrir Ventana Emergente</button> -->

 <!-- <div id="popup" class="popup" [ngClass]="{'show': showPopup}">
   <Contenido de la ventana emergente -
   <span class="close-btn" (click)="closePopup()">&times;</span>
        <h2>Tickets Registrados</h2>
        <table>
            <tr>
                <th>Encabezado 1</th>
                <th>Encabezado 2</th>
                <th>Encabezado 3</th>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
            </tr>
            <tr>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
            </tr>
        </table> 
    </div> -->


