<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //<link rel="stylesheet" href="css/estilo.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <title>Consulta Tickets</title>
</head>

<body>
    <header>
        <div class="container_header">
            <div class="logo">
                <img src="../../../assets/img/lupa2.png" alt="logo1">
                <nav>
                    <ul>
                        <li><a href="#">SALIR</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <br>
    <form action="index.html">
        <h2>Mesa de Servicio</h2>
        <br>
        <div class="logo">
          <img src="../../../assets/img/lupa.png"> 
          
          <!-- <input type="button" name="consultar" value="Consultar" id="boton" onclick="openPopup()"> -->
          <button type="button" routerLink="/signIn" id="boton">Registrar Nuevo Usuario</button>
        
            <img src="../../../assets/img/registro2.png"> 
            <button type="button" routerLink="/signIn" id="boton">Registrar Nuevo Usuario</button>
        
   
     
            <img src="../../../assets/img/soporte-tecnico.png"> 
            <button routerLink="/crearticket" type="button" id="boton" >Registrar Ticket</button>
       
                <br>
     
        
            <img src="../../../assets/img/asignar.png" > 
            <button routerLink="/crearticket" type="button" id="boton" >Asignar Ticket</button>
        </div>
        
        
    </form>

    <div id="popup" class="popup">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <h2>Tickets Registrados</h2>
        <table>
            <tr>
                <th>Encabezado 1</th>
                <th>Encabezado 2</th>
                <th>Encabezado 3</th>
            </tr>
            <tr>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
            </tr>
            <tr>
                <td>Dato 4</td>
                <td>Dato 5</td>
                <td>Dato 6</td>
            </tr>
        </table>
    </div>

    <div id="overlay" class="overlay" onclick="closePopup()"></div>
    <script>
        function openPopup() {
            document.getElementById("popup").style.display = "block";
            document.getElementById("overlay").style.display = "block";
        }

        function closePopup() {
            document.getElementById("popup").style.display = "none";
            document.getElementById("overlay").style.display = "none";
        }
    </script>
</body>
